*.pyc
*.map
*.dblite
*.elf
*.bin
*.hex
*.axf
*.pdb
*.idb
*.ilk
*.old
build
Debug
*~
*.o
*.obj
*.out
*.bak
*.dep
*.lib
*.i
*.d
.DS_Stor*
.claude/
.config 3
.config 4
.config 5
*.uimg
GPATH
GRTAGS
GTAGS
.vscode
JLinkLog.txt
JLinkSettings.ini
DebugConfig/
RTE/
settings/
*.uvguix*

# Package non-essential files
packages/*/tools/
packages/*/doc/
packages/*/Testing/
packages/*/PythonWrapper/
packages/*/Examples/
packages/*/Doxygen/
packages/*/Documentation/
packages/*/Scripts/
packages/*/ComputeLibrary/
packages/*/DSP_Lib_TestSuite/

